body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DISEÑOS GENERALES EN CUERPO */

/*   título de login y paneles siguientes   */
.titulo {
  font-style: normal;
  font-weight: 700;
  
  line-height: 77px;
  text-align: start;
  margin-bottom: 10%;
}

.t-login {
  font-size: 64px;
  color: #4583FB;
}

/*   inputs de login */
.input-box{
  box-sizing: border-box;
  width: 100%;
  height: 40px;
 
  font-size: 18px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/*DISEÑO DE BOTONES*/

/*   botón principal: botón grande de elección   */
.home-button{
  width: 447px;
  height: 51.84px;
  margin-top: 30px;

  background: #D9D9D9;
  border: 1px solid #2D79EB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;

  font-family: 'Changa';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;

  color: #000000;

  text-align: center;
}

.home-button:hover {background-color: #5346c5}

/*   botón secundario: botón pequeño que nos permite volver a la 
página anterior o ver calendario   */
.submit{
  box-sizing:content-box;
  width: 120px;
  height: 30px;
  left: 67px;
  top: 539px;
  margin-top: 3%;

  font-size: 18px;

  background: #a23ef3;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

}

.submit:hover{
  background-color: #614bb6;;
}

/*DISEÑO DE FONDO*/
.nubesita{
  width: 100% !important;
  height: 100px;
  position: fixed;
  display: flex;
  bottom: 0;
}

.formBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  
}
.back-button{
  box-sizing:content-box;
  width: 120px;
  height: 30px;
  
  margin-top: 1%;
  

  font-size: 18px;

  background: #3141cf;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
@media(min-width: 300px)and(max-width: 400px){
  .nubesita{
    height: 50px;
  }
  .t-login {
    font-size: 10px;
    color: #4583FB;
  }
  .titulo{
    font-size: 32px;
    margin-bottom: 0%;
  
  }
  .home-button{
    width: 500px;
    height: 20px;
  }
}

@media(max-width:1370px){
  .nubesita{
    height: 60px;
  }
  
}

