/*Edit PopupStyle*/
.admn-popAddEstContent{
    background-color: #B8ACFF;
    border-color: #000;
    border: 1px solid;
    border-radius: 10px;
    min-height: 150px;
    width: 750px;
    padding: 10px;
}

.admn-popupAddEsttitle{
    color: #000000;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
}

.admn-popupAddEstForm{
    margin-top: 10px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: #E7E3E3;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
}
.admn-inputsContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.admn-AddEstsubmitBtn{
    box-sizing:content-box;
    width: 120px;
    height: 30px;
    margin-top: 3%;
    margin-left: 6%;
    font-size: 18px;

    background: #7de48b;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.admn-AddEstsubmitBtn:hover{
    background: #39cf4d;
}
.admn-AddEstsubmitBtn:active{
    background:#0c961e
}

.admn-popupAddEstBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.admn-popupAddEstLabel{
    font-size: 24px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 10px;
    text-align: start;
}

.admn-popupAddEstinput{
    max-height: 30px;
    font-size: 20px;
    padding-left: 5px;
}
.admn-popupAddEstSelect{
    height: 35px;
    width: 260px;
    font-size: 20px;
    padding-left: 5px;
}

.admn-handleIco{
    width: 35px;
    height: 35px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    align-content: center;
    justify-content: center;
}
.admn-ico{
    width: 20px;
    height: 20px;
}
.admn-handleIco:hover{
    background-color: aquamarine;
}

.admn-successAddEst{
    color: #000000;
    font-weight: 900;
    font-size: 32px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-content: center;
}
