.admn-cursosall{
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 700px;
    width: 1360px;
}

/*content general blanco*/
.admn-ccontent{
    padding: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -8px rgb(0, 0, 0, 0.9);
    width: 900px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/*Tittle style*/
.admn-ctitle{
    color: #4583FB;
    font-size: 40px;
    margin-left: 50px;
    text-align: start;
}

.admn-topcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
}


/*addbutton*/
.admn-tools{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.admn-addBtn{
    margin: 5px;
    background-color: rgb(152, 236, 156);
    border-radius: 10px;
    border-radius: 25px;
    border-color:#4583fb;

}

.admn-addBtn:hover {
    background-color: #10c02d;
    transition: .3s;
}

/*PopUp Form*/
.admn-popContent{
    background-color: #B8ACFF;
    border-color: #000;
    border: 1px solid;
    border-radius: 10px;
    min-height: 150px;
    width: 500px;
    text-align: center;
    font-size: 72px;
    padding: 40px;
}

.admn-popuptitle{
    color: #000000;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
}

.admn-popupForm{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: #E7E3E3;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.admn-popupSelect{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.admn-popupLabel{
    font-size: 24px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 10px;
}

.admn-popupOptions{
    box-sizing: border-box;
    width: 100px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 20px;
}


/*body and grades box*/
.admn-bodycursos{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.admn-datatable{
    margin-top: 1rem;
    border-collapse: collapse;
    border: solid rgb(104, 102, 102) 1px;
    width: 100%;
    font-size: 20px;
}

.admn-datatable th, td {
    padding: 10px;
}

.admn-datatable th {
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 2px #4583fb;
}

.admn-datatable td {
    border-bottom: solid 2px #8baef6;
    text-align: center;
    
}

.admn-datatable tbody tr:nth-child(even){
    background-color: #8baef6;
}

.admn-datatable tbody tr:hover{
    background-color: #4583fb;
}

.admn-btn {
    margin: 5px;
    background-color: #eee;
    border-radius: 25px;
    border-color:#4583fb;

}

.admn-btn:hover {
    background-color: #7253c7;
    transition: .3s;
}

.admn-nubesita{
    width: 100% !important;
    height: 70px;
    position:static;
    display: flex;
    bottom: 0;
    left: 0;
}
