.calendar-prueba{
    display: flex;
    justify-content: flex-start;
    background-color:white;
    border-color:rgb(0, 0, 0);
    border: rgb(9, 29, 207) 5px solid;
    border-radius: 5%;

    
}
.Calendar-ordenar{
    display: flex;
    justify-items:flex-end;
}
.calendar-titulo{
    display: flex;
    justify-content: center;
    color:rgb(0, 112, 187);
    font-weight: bold;
    font-size: 40px;
    margin-top: 40px;
}
.calendar-imag{
    width: 400px;
    
    display: flex;
    justify-content: center;
    align-content:center;
}
.popup-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content-nuevo {
    padding: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 40px -10px rgb(0, 0, 0, 0.35);
    position: relative;
    z-index: 99999;
  }