.calendar-prueba{
    display: flex;
    justify-content: flex-start;
    background-color:white;
    border-color:rgb(0, 0, 0);
    border: rgb(9, 29, 207) 5px solid;
    border-radius: 5%;

    
}
.Calendar-ordenar{
    display: flex;
    justify-items:flex-end;
    margin-top: "10px";
}
.calendar-titulo{
    display: flex;
    justify-content: center;
    color:rgb(0, 112, 187);
    font-weight: bold;
    font-size: 40px;
    margin-top: 40px;
}
.calendar-imag{
    width: 400px;
    
    display: flex;
    justify-content: center;
    align-content:center;
}
