.calendar-prueba{
    display: flex;
    justify-content: flex-start;
    background-color:white;
    border: rgb(0, 0, 0) 3px solid;
    border-radius: 3%;

    
}
.Calendar-ordenar{
    display: flex;
    justify-items:flex-end;
    margin-top: "10px";
}
.calendar-titulo{
    display: flex;
    justify-content: center;
    color:black;
    font-size: "500px";
    margin-top: "4000px";
}
.calendar-imag{
    width: 400px;
    
    display: flex;
    justify-content: center;
    align-content:center;
}
