.admn-popContent{
    background-color: #B8ACFF;
    border-color: #000;
    border: 1px solid;
    border-radius: 10px;
    min-height: 150px;
    width: 500px;
    text-align: center;
    font-size: 72px;
    padding: 40px;
}

.admn-popuptitle{
    color: #000000;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
}
