
.info-cursos{
    box-sizing:content-box;
    width: 1000px;
    height: 30px;
    Display: flex;
    justify-content:center;
    align-items: center;
    
    margin-top: 50px;
    margin-bottom: 50p;
    
  
    font-size: 15px;
  
    background: white;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.titulo-cursos{
    font-size: 30px;
    color:black; 
}

.imag-cursos{
    width: 500px;
    height: auto;
    float: right;
   
}
.content-cursos{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 20px -8px rgb(0, 0, 0, 0.9);
    width: 1500px;
}

.encabezado{
    display: flex;
}
.cursos-img{
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.content-imag{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}