
/* Content de todo */
.content-cursos{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    justify-content: flex-start;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 20px -8px rgb(0, 0, 0, 0.9);
    width: 1100px;
}
/* Titulo y encabezados*/
.titulo-cursos{
    font-size: 30px;
    color:black; 
}

.cursos-encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cursos-infogroup{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cursos-pnombre, .cursos-pcorreo, .cursos-prut{
    margin-left: 10px;
    padding: 5px;
    background-color: #F0CA0E;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}



/* Body (Lista cursos y img)*/
.cursos-body{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cursos-list{
    display: flex;
    flex-direction: column;
}

.imag-cursos{
    width: 400px;
    height: 350px;
}

.nubesita{
    width: 100% !important;
    height: 60px;
    display: flex;
    bottom: 0;
    left: 0;
  }