.center{
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img{
    box-shadow: 5px #000;
    height: 88vh;
}
.button{
    width: 447px;
    height: 51.84px;
    margin-top: 30px;

    background: #D9D9D9;
    border: 1px solid #2D79EB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;

    text-align: center;
    

}
.botones{
    position:absolute;
    justify-content: center;
    top: 20%;
    left: 35%;
    display: flex;
    flex-direction: column;
}
.buttonText{

    font-family: 'Changa';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #000000;

}
.button:hover {background-color: #5346c5}


.tittle{
    width: 885px;
    height: 107px;

    margin-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    
    color: #5E70DE;

    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    
}


