.center{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img{
    box-shadow: 5px #000;
    width: auto;
    min-height: auto;
}

.botones{
    position: fixed;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.tittle{
    width: 885px;
    height: 107px;

    margin-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    
    
    color: #5E70DE;

    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    
}

@media(min-width: 300px) and (max-width: 400px){
    .tittle{
        font-size: 24px;
        line-height: 40px;
        width: 300px;
    }
    .img{
        width: 400px;
        
    }

}
