.admL-body{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 5%;
}

.admL-imag{
    width: 500px;
    height: auto;
   
}
.admL-formBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    
}

.admL-content{
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 20px -8px rgb(0, 0, 0, 0.9);
    width: 1500px;
    
}
.admL-label{

    width: 524px;
    height: 49px;
    

    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;

    color: #4583FB;

}



@media(min-width: 300px) and (max-width: 400px){
    .admL-content{
        width: 260px;
        height: 500px;
        justify-content: content;
    }
    .admL-imag{
        width: 150px;
    }
    .admL-label{
        width: 200px;
        font-size: 20px;
    }
    .admL-formBox{
        width: 200px;
    }
    .admL-titulo{
        font-size: 48px;
    }

}

@media(min-width:1280px) and ( max-width:1370px){
    .admL-content{
        width: 1200px;
        height: 400px;
        
    }
    .admL-imag{
        width: 400px;
    }
   
}