
.titulo{
    
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: start;
    margin-bottom: 10%;
    
    color: #4583FB;
}

.body{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 5%;
}

.imag{
    width: 500px;
    height: auto;
   
}
.formBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    
}
.input-box{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
   

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.content{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 20px -8px rgb(0, 0, 0, 0.9);
    width: 1500px;
}
.label{

    width: 524px;
    height: 49px;
    

    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;

    color: #4583FB;

}
.submit{
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    left: 67px;
    top: 539px;
    margin-top: 1%;

    background: #8161FF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

.submit:hover{
    background-color: #614bb6;;
}

.nubesita{
    width: 100% !important;
    height: 100px;
    position: fixed;
    display: flex;
    bottom: 0;
}

@media(max-width: 400px){
    .content{
        width: 260px;
        justify-content: content;
    }
    .imag{
        width: 150px;
    }
    .label{
        width: 200px;
        font-size: 20px;
    }
    .formBox{
        width: 200px;
    }
    .titulo{
        font-size: 48px;
    }
}




