.admn-asignall{
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 700px;
    width: 1360px;
}

.admn-acontent{
    padding: 20px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -8px rgb(0, 0, 0, 0.9);
    width: 1200px;
    min-height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.admn-atitle{
    color: #4583FB;
    font-size: 40px;
    margin-left: 50px;
    text-align: start;
}
.admn-topButtons{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.admn-top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.admn-addbutton{
    background-color: #eeeeee;
    border: 3px solid #4dd47a;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #4dd47a;
}
.admn-addbutton:hover{
    background-color: #7bf0a2;
    color: #eeeeee;
    transition: .3s;
}
.admn-asignatura{
    width: 400px;
    background: #D9D9D9;
    border: 2px solid #2D79EB;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    text-align: center;
    font-size: 24px;
    color: #29255d;
}

.admn-delIco{
    margin-left: 5px;
    height: 30px;
    color: red;
}
.admn-delbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #e44e4e;
    border: 2px solid #960b0b;
    border-radius: 10px;
}
.admn-delbtn:hover{
    background-color: #D9D9D9;
    border-color: #e44e4e;
    transition: .3s;
}
.admn-delbtn:active{
    background-color: #960b0b;
}

/* Popup Styles */
.admn-test{
    background-color: #B8ACFF;
    border-color: #000;
    border: 1px solid;
    border-radius: 10px;
    min-height: 150px;
    min-width: 500px;
    text-align: center;
    font-size: 72px;
    padding: 40px;
}
.admn-label{
    font-size: 24px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 10px;
}

.admn-form{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #E7E3E3;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.admn-poptitle{
    color: #000000;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
}
.admn-input{
    box-sizing: border-box;
    width: 360px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}
.admn-submit{
    box-sizing:content-box;
    width: 100px;
    height: 30px;
    left: 67px;
    top: 539px;

    font-size: 18px;

    background: #54d87b;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.admn-submit:hover{
    background: #32b15c;
}

/*delete popup*/
.admn-delModalbuttons{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.admn-delModalbtn{
    box-sizing:content-box;
    width: 100px;
    height: 30px;

    font-size: 18px;

    background: #ee5757;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.admn-delModalbtn:hover{
    background: #ec3535;
}
.admn-delModalbtn:active{
    background: #b31414;
}
.admn-delAsignaturaText{
    font-weight: bold;
    color: #cc1212;
}


.admn-nubesita{
    width: 100% !important;
    height: 70px;
    position:static;
    display: flex;
    bottom: 0;
    left: 0;
  }

  @media(min-width: 300px)and(max-width: 400px){
    .admn-asignall{
        min-width: 300px;
    }
    .admn-acontent{
        min-width: 50px;
        height: 50px;
    }
    .admn-listAsignaturas{
        min-height: 100px;
    }
    .admn-asignatura{
        width: 50px;
        font-size: 18;
    }
  }